# Gamelytics: Mobile Analytics Challenge
* Retention Analysis
    üîç Objective: Calculate the daily retention rate of players, starting from their registration date.

* A/B Testing for Promotional Offers
    üîç Objective: Identify the best-performing promotional offer set by comparing key revenue metrics.

* Event Performance Evaluation in "Plants & Gardens"
    üîç Objective: Develop metrics to assess the success of a time-limited in-game event where players can earn unique rewards.

In [1]:
import kagglehub
import pandas as pd
import numpy as np
import datetime

#Import data
path = kagglehub.dataset_download("debs2x/gamelytics-mobile-analytics-challenge")

reg_data = pd.read_csv(path+'/reg_data.csv',sep=';')
auth_data = pd.read_csv(path+'/auth_data.csv',sep=';')
ab_test = pd.read_csv(path+'/ab_test.csv',sep=';')

### Flexible Retention Calculation

In [ ]:
#get login ts (unique for each user)

            auth_ts      uid
0         911382223        1
1         932683089        2
2         932921206        2
3         933393015        2
4         933875379        2
...             ...      ...
9601008  1600874034  1110618
9601009  1600874086  1110619
9601010  1600874139  1110620
9601011  1600874191  1110621
9601012  1600874244  1110622

[9601013 rows x 2 columns]

In [23]:
retention_df = pd.merge(reg_data, auth_data, on='uid', how='left')
# retention_df['auth_ts'] = pd.to_datetime(retention_df['auth_ts'], unit='s')
# retention_df['reg_ts'] = pd.to_datetime(retention_df['reg_ts'], unit='s')

retention_df.columns

Index(['reg_ts', 'uid', 'auth_ts'], dtype='object')

In [38]:
# 1 Day retention
#for each user, calculate whether they logged in within 1 day of registering
# retention_df["retained_24h"] = (
#     (retention_df["auth_ts"] - retention_df["reg_ts"]) <= 86400
# ) & (
#     (retention_df["auth_ts"] - retention_df["reg_ts"]) >= 0
# )

retention_df[
    (retention_df['auth_ts'] != retention_df['reg_ts']) &
    ((retention_df["auth_ts"] - retention_df["reg_ts"]) <= 186400) & 
    ((retention_df["auth_ts"] - retention_df["reg_ts"]) >= 0)
    ]

             reg_ts      uid     auth_ts
2017     1071351408       45  1071484068
2062     1086463567       60  1086634314
2149     1114234012      102  1114376599
2162     1117451953      108  1117625770
7715     1149536252      201  1149693208
...             ...      ...         ...
9598744  1600755151  1108106  1600866895
9598783  1600757152  1108147  1600869797
9598809  1600758469  1108174  1600845356
9598938  1600765209  1108317  1600864579
9598955  1600766051  1108336  1600864298

[46585 rows x 3 columns]

In [ ]:
#Now make it extensible
def retention_calc(df,period):
    retained = df[
    (df['auth_ts'] != df['reg_ts']) &
    ((df["auth_ts"] - df["reg_ts"]) <= period) & 
    ((df["auth_ts"] - df["reg_ts"]) >= 0)
    ]
    days    = period // 86400
    rem1    = period %  86400
    hours   = rem1  // 3600
    rem2    = rem1  %  3600
    minutes = rem2  // 60
    seconds = rem2  %  60

    print(f'{retained.shape[0]} users were retained over {days} days, {hours} hours, and {minutes} minutes')

retention_calc(retention_df,11186400)

2458829 users were retained over 129 days, 11 hours, and 20 minutes